<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">Nuevo <%= t("activerecord.models.terms_and_con.one") %></h1>
      </div>
      <div class="card-body">
        <%= render "form", terms_and_con: @terms_and_con %>
      </div>
    </div>
  </div>
</div>
