<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">Nuevo <%= t("activerecord.models.professional.one") %></h1>
      </div>
      <div class="card-body">
        <%= render "form", professional: @professional %>
      </div>
    </div>
  </div>
</div>
