<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">Nuevo <%= t("activerecord.models.newsletter.one") %></h1>
      </div>
      <div class="card-body">
        <%= render "form", newsletter: @newsletter %>
      </div>
    </div>
  </div>
</div>
