<div class="container mt-5 mb-5">
  <% if @treatments.empty? %>
    <div>
      <p class="text-center">No hay tratamientos disponibles.</p>
    </div>
  <% end %>
  <div class="card-columns">
    <% @treatments.each.with_index do |treatment, i| %>
      <div class="mt-2">
        <%= render 'web/treatments/treatment_card', treatment: treatment %>
      </div>
    <% end %>
  </div>
</div>
