<div class="features text-center">
  <div class="row">
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-info">
          <i class="material-icons">local_shipping</i>
        </div>
        <h4 class="info-title">2 Days Delivery </h4>
        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-success">
          <i class="material-icons">verified_user</i>
        </div>
        <h4 class="info-title">Refundable Policy</h4>
        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-rose">
          <i class="material-icons">favorite</i>
        </div>
        <h4 class="info-title">Popular Item</h4>
        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
      </div>
    </div>
  </div>
</div>
