<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">Nuevo Cliente</h1>
      </div>
      <div class="card-body">
        <%= render "form", client: @client %>
      </div>
    </div>
  </div>
</div>
