.page-header {
  &.header-extra-small {
    height: 35vh;
    min-height: 35vh;
  }
}

.footer {
  .copyright {
    font-size: 13px;
  }
}

.subscribe-line {
  &.subscribe-line-image {
    background-position: center;
  }
}
