.treatment {
  &.card {
    background-color: #F5F7F6;
    padding-bottom: 10px;
    .author {
      img {
        box-shadow: none;
        width: 30px;
        height: 30px;
      }
    }
  }

  &.product-page {
    .main-raised {
      margin: -20vh 0 0;
    }
    .page-header {
      background-position: center;
    }
    .stats {
      span {
        vertical-align: super;
      }
    }
  }
}
