<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">Editar <%= t("activerecord.models.contact.one") %></h1>
      </div>
      <div class="card-body">
        <%= render "form", contact: @contact %>
      </div>
    </div>
  </div>
</div>
