<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/">
        <%= app_name.upcase %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="<%= web_treatments_path %>" class="nav-link">
            <i class="material-icons">favorite</i>Tratamientos
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= frequently_asked_questions_path %>" class="nav-link">
            <i class="material-icons">help</i> Preguntas Frecuentes
          </a>
        </li>
        <li class="button-container nav-item iframe-extern">
          <a href="<%= contact_wa_link %>" class="btn btn-primary btn-round btn-block" target="_blank">
            <i class="material-icons">perm_phone_msg</i> Consultar
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
