<div class="section section-comments">
  <div class="row" >
    <div class="col-md-8 ml-auto mr-auto">
      <div class="media-area">
        <div class="media">
          <a class="float-left">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              <%= @terms_and_cons.text&.html_safe %>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>