<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/landingpage.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Todos los tratamientos de belleza. <br>En Punta del Este.</h1>
        <h4>
          En nuestro salón de belleza, ofrecemos una amplia gama de servicios de alta calidad para ayudarte a sentirte y lucir hermosa.
          Nuestro equipo de profesionales está altamente capacitado y utiliza productos de primera calidad. ¡Te esperamos!
        </h4>
        <br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-primary btn-raised btn-lg">
          <i class="fa fa-play"></i> Mirar Video
        </a>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Tratamientos Destacados</h2>
          <h5 class="description">Ven a visitarnos y descubre cómo nuestras manos expertas pueden transformar tu belleza y darte una apariencia impresionante.</h5>
          <div>
            <%= link_to 'Ver todos', web_treatments_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <%= render 'web/treatments/treatments' %>
    </div>
  </div>
  <div>
    <%= render "newsletter" %>
  </div>
  <div class="pb-4">
    <%= render "contact" %>
  </div>
</div>
