<div class="sidebar">
  <div class="sidebar-wrapper">
    <ul class="nav">
      <%= menu_item_html(path: clients_path, icon: 'tim-icons icon-badge', text: 'Clientes', menu_active_path: [clients_path]) %>
    </ul>
  </div>
</div>
